#card-row-profile{
    width: 100%;
    //height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
    .card{
        width: 30%;
        max-height: 300px;
        margin-bottom: 50px;
        .card-custom-video{
            width: 100% !important;
            height: 300px !important;
            cursor: pointer;
        }
        .card-custom-image{
            width: 100% !important;
            height: 300px !important;
            cursor: pointer;
            object-fit: cover;
            aspect-ratio: auto;
        }
    }
    #card-hilo{
        width: 48%;
        height: 100%;
    }
    
}

@media only screen and (max-width: 600px) {
    #card-row-profile{
        height: auto;
        .card{
            width: 46%;
            max-height: 100%;
            .card-custom-video{
                width: 100% !important;
                height: 150px !important;
                cursor: pointer;
            }
            .card-custom-image{
                width: 100% !important;
                height: 150px !important;
                cursor: pointer;
                object-fit: cover;
                object-position: center;
                aspect-ratio: auto;
            }
        }
        #card-hilo{
            width: 100%;
            height: 100%;
        }
    }
}
