#card-post-content {
    width: 100%;
    margin-top: 10px;

    //max-height: 100%;
    .card {
        width: 100%;
        height: 100%;
        .card-header-custom {
            width: 100%;
            height: 60px !important;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .name-profile {
                width: 70%;
                height: 100%;
                display: flex;
                gap: 10px;
                align-items: center;
            }

            .complement-profile {
                width: 30%;
                height: 100%;
                display: flex;
                justify-content: end;

                i {
                    font-size: 20px;
                }
            }

            .bn-follow-content {
                width: 30%;
                display: flex;
                margin-top: 0px;
                align-items: center;
                justify-content: center;
            }

            .img-profile-min {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: contain;
                border: 1px solid #efefef;
            }
        }

        .card-custom-post-body {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
            gap: 10px;
            
            .carousel-item {
                width: 100% !important;
            }

            .card-custom-video {
                width: 100%;
                max-height: 480px;
                object-fit: cover;
                aspect-ratio: auto;
                cursor: pointer;
                border-radius: 10px;
                background-color: #fff;
            }
        }
    }

}

.enlace-eyngel {
    color: #072B5B;
}

.card-custom-img {
    width: 100%;
    object-fit: fill;
    background-color: #efefef;
    aspect-ratio: 1/1;
    max-height: 450px;
    cursor: pointer;
}

.content-buttons {
    width: 100%;
    height: 60px;
    display: flex;

    //border: 1px solid red;
    .card-custom-icons {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        //border: 1px solid yellow;
        .button-red-min {
            width: 40px;
            height: 40px;
            border: none;
            background-color: #fff;
            border-radius: 50%;
            &:hover {
                background-color: #efefef;
            }
        }

        .card-custom-icons-min{
            display: flex;
            flex-direction: column;
        }

        i {
            font-size: 18px;
        }
    }
}

.content-text-mentions {
    width: 100%;
    display: none;
    //  border: 1px solid blue;
    position: relative;

    .content {
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px;

        //  border: 1px solid blue;
        .profile-mentions {
            width: 20%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            //border: 1px solid blue;
            .img-profile-min-mentions {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .content-mentions {
            width: 80%;
            height: 40px;

            //border: 1px solid red;
            .form-control {
                border: 0;

                &:focus {
                    border: 0;
                    box-shadow: none;
                }
            }
        }
    }
}

.carousel{
    width: 100% !important;
}

.content-user-li{
    width: 100%;
    display: flex;
    padding: 10px;
}

.modalEtiqueta{
    width: 60%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .mention-dropdown {
        .dropdown-menu {
            margin-left: 0px;
        }
    }

    .row>* {
        padding-right: calc(1.5rem * 0.1) !important;
        padding-left: calc(1.5rem * 0.1) !important;
    }
}

@media only screen and (min-width: 1200px) {
    #card-post-content {
        width: 80%;
        margin: auto;

        .card {
            width: 100%;
            max-height: 800px;
        }
    }
}
